# Database - Postgres
DB_USER_PG=username
DB_PASS_PG=password
DB_HOST_PG=host
DB_PORT_PG=5432
DB_NAME_PG=name


# TELEGRAM BOT
TELEGRAM_API_CODE=APICCODE
TELEGRAM_CHAT_ID=ChatID

# CHATGPT / AI  API-KEY
CHATGPT_API_KEY=APIKEY

# Scraping credentials
# -------------- YesWeHack ---------------
YESWEHACK_EMAIL=your@email.com
YESWEHACK_PASSWORD=your_password
YESWEHACK_TOKEN="Bearer your_token"

# -------------- Bugcrowd ---------------
BUGCROWD_EMAIL=your@email.com
BUGCROWD_SESSION=your_session
BUGCROWD_CROWDCONTROL=your_crowdcontrol
BUGCROWD_CSRF_TOKEN=your_csrf_token

# -------------- HackerOne ---------------
HACKERONE_EMAIL=your@email.com
HACKERONE_PASSWORD=your_password
H1_SESSION=your_session
H1_CF_CLEARANCE=your_cf_clearance
H1_DEVICE_ID=your_device_id
H1_STRIPE_MID=your_stripe_mid
H1_STRIPE_SID=your_stripe_sid

# -------------- Intigriti ---------------
INTIGRITI_EMAIL=your@email.com
INTIGRITI_PASSWORD=your_password
INTIGRITI_SESSION=your_session
INTIGRITI_CSRF=your_csrf
INTIGRITI_INTERCOM_SESSION=your_intercom_session